html,body{
    overflow-x: hidden;
}
.Banner{
    top: 0px;
    justify-content: center;
    position: absolute;
    /* right: 10px; */
    left: 10px;
    padding: 30px;
}
.banner-photo{
    min-width: 100%;
    height: auto;
    position: relative;
    
}
.banner-photo{
    margin: 50px 250px 180px;

}
#h3-title{
    color: #62c506;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}
#h1-title{
    color: #28f504;
text-align: center;
font-family: Merriweather;
font-size: 75px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
width: 632px; ;

}
/* banner realated */
.happy{ 
    text-align: center;
    margin-left:  400px;
    margin-right: 400px;
}
.off{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer-cata{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.all-cata{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
/* welcome section */
.section{
    background-image: url('../image/Vectorrr.png');
    width: 1320px;
height: 600px;
margin-left: 180px;
margin-right: 250px;
}
.well-content{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 160px; */
    /* margin-top: 200px; */
    margin: 100px auto; 
    
}
 .h1w{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.pw{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */

}
.bw{
    color: #e41a1a;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
cursor: pointer;
 /* thiis is button pointer */
}
button:hover{
    background-color: rgba(178, 238, 13, 0.509);

}
/* date section */
.date{
    width: 1320px;
height: 490px;
flex-shrink: 0;
background-color: rgba(250, 235, 215, 0.533);
text-align: center;
/* text-align: ; */
border-radius: 70px;
margin-right:140px ;
margin-left: 160px;

}
.dateh3{
    color: #310e78;
font-family: Inter;
font-size: 38px;
font-style: normal;
font-weight: 1000px;
line-height: 90px;
text-transform: capitalize;
margin-top: 150px;
padding: 50px;
}
.btndate{
    border-radius: 70px;
background: rgb(14, 71, 177);
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
font-size:xx-large;

}
.ddd{
    color: #F00;
    /* <!-- comming soon realated */

}
#comeh4{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
#comeh2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
/* margin-top: 100px; */
}
#p1{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 1000;
line-height: 32px; 
/* margin-top: 100px; */
}
.Ellipse img{
    border: 9px solid red;
    border-radius: 50%;
    padding: 10px;

}
.come{
    width: 1320px;
    height: 600px;
    margin-left: 180px;
    margin-right: 250px;
    display: flex;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.543);
    justify-content: center;
    margin-top: 150px;
}
.come2{
    width: 1320px;
    /* height: 600px; */
    margin-left: 180px;
    margin-right: 250px;

}
.best{
    color: #F00;
}


.our{
    color: #070211;
    font-weight: 900;
line-height: normal;
}

.lim{color: rgba(7, 2, 17, 0.60);

    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

}

.por-img img{
    transition: 400ms;
    cursor: pointer;
    border-radius: 16px;

}

.por-img img:hover{
    transform: scale(1.1);
}
.input-sec{
    display: flex;
    align-items: center;
}
.input-sec input{
     width: 648px;
    padding: 4px 40px;
    border: 1px solid gray;
    height: 72px;
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
.input-sec button{
    /* width: 150px; */
    padding: 4px 30px;
    border: 1px solid red;
    background-color: #F00;
    font-size: 25px;
    color: #FFF;
    height: 83px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}
.Newsletter{
    text-align: center;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
padding: 100px 0px;
/* margin: 100px 0px; */
margin-top: 100px;
}
.input-area{
    /* width: ; */
    display: flex;
    justify-content: center;
}
footer{
    background: #070211;
    color: #FFF;
}
.Contact{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 20px;

}






